<div class="container">
  <h1>BEST COACHING EVER</h1>
  <br>
  <form action="/answer">
    <input type="text" name="question" class="form">
    <input type="submit" value="Ask!" class="form">
  </form>
</div>
